SEPOLIA_RPC_URL=<YOUR_SEPOLIA_RPC_URL>
PRIVATE_KEY=<SEPOLIA_ACCOUNT_PRIVATE_KEY>
DEPOLYED_CONTRACT_ADDRESS=<CONTRACT_ADDRESS_AFTER_DEPLOYING_TO_BLOCKCHAIN>
ETHERSCAN_API_KEY=<ETHER_SCAN_API_KEY_FOR_VERIFICATION_OF_DEPLOYED_CONTRACTS>